{% extends 'hospital/homebase.html' %}

{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Xin chào Bác sĩ</h1>
  <p class="lead">Xin chào đến với hệ thống quản lý bệnh viện</p>
  <hr class="my-4">
  <p>Đăng nhập vào hệ thống/ Nếu chưa có hãy đăng kí bên dưới.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/doctorsignup" role="button">Ứng tuyển</a>
    <a class="btn btn-primary btn-lg" href="/doctorlogin" role="button">Đăng nhập</a>
  </p>
</div>

{% endblock content %}
