<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <style>
    table{
    border:1px solid black;
}
th{
    border:1px solid black;
}
td{
    border:1px solid black;
}

.center-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

  </style>
</head>
<body>
  <br>
  <p style="text-align: center;"><strong>C&aacute;c th&ocirc;ng tin li&ecirc;n quan đến bệnh nh&acirc;n</strong></p>
  <p style="text-align: left;">T&ecirc;n bệnh nh&acirc;n: {{request.user.first_name}}</p>
  <p style="text-align: left;">Ng&agrave;y đăng k&iacute;: {{admitDate}}</p>
  <p style="text-align: left;">SĐT của bệnh nh&acirc;n: ----</p>
  <p>-----------------------------------------------------------------------------------------------</p>
  <p style="text-align: left;">T&ecirc;n b&aacute;c sĩ của bệnh nh&acirc;n: {{doctorName}}</p>
  <p style="text-align: left;">Khoa chuy&ecirc;n m&ocirc;n: {{doctorDepartment}}</p>
  <p style="text-align: left;">SĐT của b&aacute;c sĩ: {{doctorMobile}}</p>
  <p>-----------------------------------------------------------------------------------------------</p>
  <p style="text-align: left;">Bệnh l&iacute; của bệnh nh&acirc;n:&nbsp; {{symptoms}}</p>
  <p><br></p>
</body>

</html>
